img{
  width: 100%;
  height: 500px;
  }
.lien{
    display: flex;
    margin-top:1cm;
    width: 100%;
    justify-content:space-between;
    padding-bottom:0;
    padding-top:0;
    justify-content: right;
    opacity: 0.8;
    
}
a{
  font-size:1px;
  text-decoration: none;
}
a:hover{
  background-color:black;
  padding: 3px;
}
.reine{
  border-radius: 50%;
  width: 300px;
  height: 300px;
  padding: 30px;
  margin-bottom: -4%;
  position:center;
}
h1{
  padding-bottom: 12px;
  margin: 15px;
}
.imagecentre{
  display: flex;
}
#tahirypar{
  flex-grow:2;
  font-size: 30px;
  color:white;  
}
.cartbon{
background-color: black;
text-align:right;
}
body{
  background-image: url("IMAGE/background.jpeg");
  background-repeat: no-repeat;
  font-family: cursive;
}
#accueil{
  color: black;
  border : solid 1px;
  margin-left: 2cm;
  font-size:30px;
  padding: 12px;
  border-radius: 25px;
  }
#apropos{
  border : solid 2px;
  margin-left: 2cm;
  color: black;
  border : solid 2px;
  margin-left: 2cm;
  font-size:30px;
  padding: 12px;
  border-radius: 25px;
}
#membres{
  color: black;
  border : solid 2px;
  margin-left: 2cm;
  font-size:30px;
  padding: 12px;
  border-radius: 25px;
}
#accueil:hover{
  border-bottom: 1px solid green;
    color: white;
 } 
#apropos:hover{
  border-bottom: 1px solid green;
    color: white;
 } 
#membres:hover{
  border-bottom: 1px solid green;
    color: white;
 }
 #logos{
 width: 400px;
 height: 300px;
 padding-left:2cm;
 }
 #ARTMOVE{
   margin-top: 6cm;
 }
 #CONTACT{
  text-align: center;
  background-color: black;
  font-size: 30px;
  margin-top: 4cm;
  color: white;

}
.lastparagraph{
  font-size:40px;
  color: green;
}
#prgrph{
  font-size:29px;
  color: white;
}

